@import "../../style-variables.scss";

:host{
    z-index:10;
}

header{
    height: auto;
    padding: 1rem;
    z-index: 1;
    background-color: $header-bg-color;
}

h1{
    font-weight: 300;
    font-size: 1.8rem;
    color: $base-color;
}