@import "../../style-variables.scss";

:host{
    z-index:10;
    //border-bottom: 2px solid $background-color4;
}

header{
    height: auto;
    z-index: 1;
    padding: .8rem 2rem .8rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    padding: 1.4rem 2rem .8rem 2rem;
    background-color: $header-bg-color;
}

h1{
    font-weight: 300;
    font-size: 1.8rem;
    color: $base-color;
}