@import "../../style-variables.scss";

:host{
    flex: 1 1 100px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    flex: 1 1 auto;
    z-index: 0;
    padding: 1.4rem;
    //background: #1b1b1b;
    //background: linear-gradient(to bottom, #1b1b1b 0%,#212121 2rem);
}

@media only screen and (max-width: 599px) {
    :host{
        flex-direction: column; 
    }
}