@import "../../style-variables.scss";

:host{
    font-size: 1.25rem;
    padding: 0 1rem;
    //margin: $site-component-margin;
    z-index: 0;
    /*
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    */
    z-index:2;
    background-color: $notes-nav-bg-color;
    box-shadow: 0px 0px 10px 8px $shadow-color;
}

ul{
    display: flex
    /* fxLayout.xs="column" in Html beachten!!! */
}

li{ 
    text-align: center;
    margin-right: .6rem;
}

.active{
    background-color: $accent-color-1;
    color: $font-color-high-contrast-primary;
    background-color: $background-color4;
    background: $background-color3;
    padding: 0.8rem 1rem 1.1rem 1rem;
    margin-bottom: 0;
    border-radius: .6rem .6rem 0 0;
    //box-shadow:inset 0px 6px 6px 2px $background-color4;
    //-webkit-box-shadow: inset 0px 16px 17px -5px $shadow-color;
    //-moz-box-shadow: inset 0px 16px 17px -5px $shadow-color;
    //box-shadow: inset 0px 16px 17px -5px $shadow-color;
    -webkit-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    -moz-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    box-shadow: inset 0px  4px 3px 1px $shadow-color;
}

a {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 0.8rem 1rem;
    margin: .3rem 0;
    text-decoration: none;
    background: $medium-contrast-color;
    background: transparent;
    color: $font-color-high-contrast-primary;
    cursor: pointer;
    text-align: center;
    transition: background-color 3250ms ease-in-out, 
                background 3250ms ease-in-out,
                transform .3s ease,
                box-shadow .45s ease;
                -webkit-appearance: none;
                -moz-appearance: none;
    //border-radius: 100vh;
    border-radius: .6rem;
}

a:not(.active){
    position: relative;
}

a:not(.active):hover{
    color: $canvas-color;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, $background-color3 30%, #313131 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $background-color3 30%,#313131 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $background-color3 30%,#313131 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: inset 0px 8px 3px -3px $shadow-color;
    -moz-box-shadow: inset 0px 8px 3px -3px $shadow-color;
    box-shadow: inset 0px 8px 3px -3px $shadow-color;
}

a:not(.active):active{
    background: #222222;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, $background-color3 0%, #222222 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $background-color3 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $background-color3 0%,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: transparent;
    -webkit-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    -moz-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    box-shadow: inset 0px  4px 3px 1px $shadow-color;
    position:relative;
}

a:not(.active):hover::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, $background-color3 0%, #222222 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $background-color3 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $background-color3 0%,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    -moz-box-shadow: inset 0px 4px 3px 1px $shadow-color;
    box-shadow: inset 0px  4px 3px 1px $shadow-color;
    z-index: -1;
    transition: opacity .3s ease,
                box-shadow .3s ease,
                background-color .3s ease;
    opacity: 0;
    border-radius: .6rem;
}
  
a:not(.active):active::before {
    opacity: 1;
}

a:not(.active):hover:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, $background-color3 30%, #313131 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $background-color3 30%,#313131 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $background-color3 30%,#313131 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: inset 0px 8px 3px -3px $shadow-color;
    -moz-box-shadow: inset 0px 8px 3px -3px $shadow-color;
    box-shadow: inset 0px 8px 3px -3px $shadow-color;
    z-index: -5;
    border-radius: .6rem;
}

.active{
    transition: padding-bottom .3s ease;
}