/*
.notes-nav{
    font-size: 2rem;
}
*/


/* andere weise um Component stink-normal wie einen Container der styles nach unten vererbt zu behandeln!?
*/

:host{
    font-size: 1.25rem;
    padding: 1rem;
    z-index: 0;
    /*fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly"*/
    /*
    -webkit-box-shadow: 0px -15px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -15px 40px 0px rgba(0,0,0,0.75);
box-shadow: 0px -15px 40px 0px rgba(0,0,0,0.75);
    */
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* fxLayout.xs="column" in Html beachten!!! */
}

li{ 
    text-align: center;
    /*
    flex: 1 1 auto;
    
    
    margin: 0.7rem;
    
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    background-color: aquamarine;
    */
}

.active{
    background: #00ffd5;
}

a {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: 100vh;
}

a:hover,
a:focus {
    background: #0053ba;
}

a:active {
    transform: scale(0.99);
    background: rgb(0, 206, 171);
}

