@import "../../style-variables.scss";

:host{
    font-size: 1.25rem;
    padding: 0 1rem;
    //margin: $site-component-margin;
    z-index: 0;
    /*
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    */
    z-index:2;
    background-color: $notes-nav-bg-color;
    box-shadow: 0px 0px 10px 8px $background-color4;
}

ul{
    display: flex
    /* fxLayout.xs="column" in Html beachten!!! */
}

li{ 
    text-align: center;
    margin-right: .6rem;
}

.active{
    background-color: $accent-color-1;
    color: $font-color-high-contrast-primary;

    background-color: $background-color4;
    padding: 0.7rem 1rem 1.3rem 1rem;
    margin-bottom: 0;
    border-radius: .6rem .6rem 0 0;
}

a {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 0.7rem 1rem;
    margin: .6rem 0;
    text-decoration: none;
    background: $medium-contrast-color;
    color: $font-color-high-contrast-primary;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 250ms ease;
                -webkit-appearance: none;
                -moz-appearance: none;
    //border-radius: 100vh;
    border-radius: .6rem;
}

a:not(.active):hover{
    color: $canvas-color;
    padding: calc(0.7rem - #{$medium-space}) calc(1rem - #{$medium-space});
    border: $medium-space solid $accent-color-1;
}

.active{
    transition: padding-bottom 250ms ease;
}