@import "../../style-variables.scss";

:host{
    position: relative;
    padding: $text-field-padding 0 5rem 0;
    margin-right: $standard-element-spacing;
    flex: 1;
    flex-direction: column;
    display: flex;
    //background-color: white;
    //border-left: 2px solid $header-bg-color;
    //@at-rootbackground: linear-gradient(to bottom, rgba(253,248,239,1) 50%, rgba(255,98,35,0.27) 75%, rgba(255,98,35,0.45) 86%, rgba(255,98,35,1) 100%);
    
    box-shadow: $container-shadow-drop;
    
    //background: transparent;
    background-color: $background-color3;
    background-color: rgb(37, 37, 37);
    
    //box-shadow: inset 0 0 0 0.2rem $background-color4;
    /*
    background: linear-gradient(270deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 95%, rgba(34, 34, 34, 1) 100%),
                linear-gradient(0deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 95%, rgba(34, 34, 34, 1) 100%),
                linear-gradient(90deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                linear-gradient(180deg, rgba(255, 136, 0, 0) 0%, rgba(255, 136, 0, 1) 100%);
    */
    //backdrop-filter: blur(10px);
    //background: $background-color3;
    background-clip: padding-box; /* !importanté */
    //border: solid $standard-element-spacing transparent; /* !importanté */
    //border-radius: 1em;
    border-radius: .6rem;
    z-index: 3;
    
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        //margin: -$standard-element-spacing; /* !importanté */
        border-radius: inherit; /* !importanté */
        top: 0; 
        right: 0;
        left: 0;
        bottom: 0;
        
        //background-color: $background-color4;
        /*
        background: linear-gradient(270deg,rgba(34, 34, 34, 0) 0,  rgba(34, 34, 34, 1) 100%),
                    linear-gradient(0deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 100%),
                    linear-gradient(315deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 100%),
                    linear-gradient(270deg,rgba(49, 49, 49, 0) 0,  rgba(49, 49, 49, 1) 100%),
                    linear-gradient(67.5deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(135deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(90deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(135deg, rgba(0, 255, 119, 0) 0%, rgb(0, 255, 119, 1) 100%);
        */
        /* background: linear-gradient(270deg,rgba(34, 34, 34, 0) 0,  rgba(34, 34, 34, 1) 100%),
                    linear-gradient(0deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 100%),
                    linear-gradient(315deg,rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 1) 100%),
                    linear-gradient(270deg,rgba(49, 49, 49, 0) 0,  rgba(49, 49, 49, 1) 100%),
                    linear-gradient(67.5deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(135deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(90deg, rgba(63,94,251, 0) 0%, rgb(63,94,251, 1) 100%),
                    linear-gradient(135deg, rgba(0, 255, 119, 0) 0%, rgb(0, 255, 119, 1) 100%); */
    }
}

/*
:host > *{
    padding: 0 $text-field-padding;
}
*/
.closeComponentLink{
    position: absolute;
    top: $standard-element-spacing-half;
    right: $standard-element-spacing-half;
}

.closeComponentLink div::after{ 
    content: '+';
}

.deleteNoteLink{
    position: absolute;
    bottom: $standard-element-spacing-half;
    right: $standard-element-spacing-half;
    cursor:pointer;
}

.functionalBtn{
    display: block;
    color: $background-color1;
    padding: .83rem .734rem .9rem .86rem;
    border-radius: .6rem;
}

.symbolBtn{
    letter-spacing: 0;
    line-height: 1.33rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.functionalBtn:hover{
    -webkit-box-shadow: inset 0px 0px 0px .2rem $background-color1;
    -moz-box-shadow: inset 0px 0px 0px .2rem $background-color1;
    box-shadow: inset 0px 0px 0px .2rem $background-color1;
    color: $font-color-high-contrast-primary;
}

.closeComponentLink div{
    transform: rotate(45deg);
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

form *{
    color: $text-field-font-color;
    padding: 0 $text-field-padding;
}

.note-title{
    font-weight: 600;
    font-family: $font-prominent;
    margin-bottom: 1.8rem;
}

input{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-size: 1.8rem;
    min-height: 1.8rem;
}

.text-label{
    pointer-events: none;
    margin-bottom: -1.5rem;
    font-size: 1.5rem;
    color: $font-color-medium-contrast-2 !important;
}

.title-label{
    pointer-events: none;
    position: absolute;
    top: 3.9rem;
    font-weight: 600;
    color: $font-color-medium-contrast-2 !important;
    // margin-bottom: -3.2rem;
    font-size: 1.8rem;
}

textarea{
    background-color: transparent;
    border:none;
    width: 100%;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    resize: none;
}


/*
textarea:hover, input:hover{
    color: rgb(134, 134, 134);
}
*/
//@at-root
textarea:visited{
    .notes-label{
        display:none;
    }
}

textarea:active, textarea:focus, input:active, input:focus{
    outline: none;
}