@import "../../style-variables.scss";

:host{
    position: relative;
    padding: $text-field-padding 0;
    z-index: -1;
    flex: 1;
    flex-direction: column;
    display: flex;
    border-radius: $site-component-rounded-corners;
    background-color: $text-field-bg-color;
}
/*
:host > *{
    padding: 0 $text-field-padding;
}
*/
.closeComponentLink{
    position: absolute;
    right: $text-field-padding;
    top: 2.8rem;
    right: 0;
    top: 0;
    display: block;
    color: $background-color1;
    display: inline-block;
    font-weight: 500;
    font-size: 2.5rem;
    padding: .83rem .734rem .9rem .86rem;
    border-radius: .6rem;
    letter-spacing: 0;
    line-height: 1.33rem;
}

.closeComponentLink:hover{
    -webkit-box-shadow: inset 0px 0px 0px .2rem $background-color1;
    -moz-box-shadow: inset 0px 0px 0px .2rem $background-color1;
    box-shadow: inset 0px 0px 0px .2rem $background-color1;
    color: $font-color-high-contrast-primary;
}

.closeComponentLink div{
    transform: rotate(45deg);
}

.closeComponentLink div::after{ 
    content: '+';
}

div{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

form *{
    color: $text-field-font-color;
    padding: 0 $text-field-padding;
}

.note-title{
    font-weight: 600;
    margin-bottom: 1.8rem;
}

input{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-size: 1.8rem;
}

.notes-label{
    margin-bottom: -1.5rem;
    font-size: 1.5rem;
}

textarea{
    background-color: transparent;
    border:none;
    width: 100%;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    resize: none;
}


/*
textarea:hover, input:hover{
    color: rgb(134, 134, 134);
}
*/
@at-root
textarea:visited{
    .notes-label{
        display:none;
    }
}

textarea:active, textarea:focus, input:active, input:focus{
    outline: none;
}