@import "../../style-variables.scss";

:host{
    padding: $text-field-padding;
    z-index: -1;
    flex: 4 1 auto;
    display: flex;
    margin: $site-component-margin;
    border-radius: $site-component-rounded-corners;
    background-color: $text-field-bg-color;
}

div{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

form *{
    color: $text-field-font-color;
}

.note-title{
    font-weight: 600;
    margin-bottom: 2.2rem;
}

input{
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-size: 1.8rem;
}

.notes-label{
    margin-bottom: -1.6rem;
    font-size: 1.6rem;
}

textarea{
    background-color: transparent;
    border:none;
    width: 100%;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 1.6rem;
    resize: none;
}

/*
textarea:hover, input:hover{
    color: rgb(134, 134, 134);
}
*/@at-root
textarea:visited{
    .notes-label{
        display:none;
    }
}

textarea:active, textarea:focus, input:active, input:focus{
    outline: none;
}