<div *ngIf="topicId" [ngClass]="{'gridView': this.viewAsGrid, 'hidden-list': this.componentHidden}">
  <a routerLink="notes/new" class="new-note-btn" *ngIf="!this.componentHidden">New Note</a>
  <ul *ngIf="!this.componentHidden" id="notesList-ul">  
    <li *ngFor="let note of notes; first as firstLiNote" [ngClass]="{ first: firstLiNote}" [class.selected]="note === selectedNote" (click)="onSelect(note)">      
      <!--<a [routerLink]="[ '', { outlets: { note-view: 'topic.id','notes' , note.id } }]" routerLinkActive="active">{{note.title}}</a>-->
      <!--<a [routerLink]="[ '/notes-manager', { outlets: { primary: [topic.id] ,'note-view': 'notes/' + [note.id] } }]" routerLinkActive="active">{{note.title}}</a>-->
      <a routerLink="notes/{{note.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">{{note.title}}</a>
    </li>
  </ul>
  <div class="notesListOptions">
    <button *ngIf="!this.componentHidden" (click)="deleteTopicDialog = true" >Delete Topic</button>
    <button *ngIf="!this.componentHidden" class="symbol" (click)="changeListLayout()">{{this.currentViewModeBtnText}}</button>
    <button (click)="changeHideState()">{{this.currentHideStateBtnText}}</button>
  </div>
</div>

<!--absolutely positioned Elements-->
<div *ngIf="deleteTopicDialog" class="dialog-overlay">
    <div class="">
      <p>Do you really want to delete this topic with all its notes?</p>
      <a (click)="this.deleteTopic(); deleteTopicDialog = false" routerLink="/notes-manager">Yes</a>
      <a (click)="deleteTopicDialog = false">No</a>
    </div>
  </div>

  