@import "../../style-variables.scss";


:host *::-webkit-scrollbar {
    width: .9rem;
}

/* Track */
:host *::-webkit-scrollbar-track {
    border-left: .2rem solid $background-color4;
    //-webkit-box-shadow: inset 0 0 .2rem $background-color4; 
    //-webkit-border-radius: .4rem;
    //border-radius: .4rem;
    background-color: $background-color3;
}

/*
:host *::-webkit-scrollbar-button{
    width: 100rem;
    display: block;
    background-color: red;
    margin-left: -10px;
}
*/

/* Handle */
:host *::-webkit-scrollbar-thumb {
    border-left: .2rem solid $background-color4;
    background: $background-color2;
}

:host * ul:hover::-webkit-scrollbar-track {
    border-left: .2rem solid $background-color4;
}

:host * ul:hover::-webkit-scrollbar-thumb {
    border-left: .2rem solid $background-color4;
    background-color: $font-color-medium-contrast;
    background: $background-color1;
}

:host{
    max-width: 20%;
    //border-top: $thin-space solid $canvas-color;
    //background-color: $high-contrast-color;
    position: relative;
    background-color: $background-color2;
    //background-color: #2c0cdd;
    flex: 1 1 1;
    display: flex;
    padding: 0;
    color: white;
    //margin-right: $standard-element-spacing;
    z-index: -1;
    border-radius: $site-component-rounded-corners;
    box-shadow: $container-shadow-drop;
    max-width: 50%;
    transition: 
        margin $transition-duration1 ease-out,
        width $transition-duration1 ease-out;
    //overflow: auto;
    &.hidden-state-host{
        z-index: 200;
        //position: absolute;
        //left: 0;
        //bottom: 0;
        margin-top: auto;
        margin-left: 0 !important; // how can this margin be overwritten without important?
        -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        :hover{
            -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
            border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
            button, button:focus, button:hover{
                -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
                border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
            }
        }
        * button{
            padding: 1rem;
            //border-radius: 15px 50px 30px 5px
            -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
                border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        }
        .notesListOptions{
            border: none;
        }
    }
}

h2{
    text-align: center;
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
    width: 100%;
    
}

ul{
    //position: relative;
    margin-left: 0rem;
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    direction: ltr;
    z-index: 2;
}

:host > div{
    display: flex;
    flex-direction: column;
    border-radius: .6rem; overflow: hidden;// hidden for rounded corners over content
    
}

li{ 
    text-align: left;
    direction: ltr;
    max-width: 100%;
}

a, button {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    border: none;
    padding: 1.4rem 3.2rem;
    margin: 0;
    text-decoration: none;
    color: $font-color-medium-contrast;
    color: white;
    background-color: transparent;
    background-color: $background-color2;
    //background-color: #2c0cdd;
    //background-color: #1503b8;
    //background-color: #94744b;
    //background-color: #996e36;
    cursor: pointer;
    text-align: center;
    border: 0 solid $background-color3;
    transition: background $transition-duration1 ease-in, 
                box-shadow $transition-duration1 ease-in,
                border-bottom $transition-duration1 ease-in,
                border-top $transition-duration1 ease-in,
                border $transition-duration1 ease-in,
                margin-bottom $transition-duration1 ease-in,
                margin-top $transition-duration1 ease-in,
                margin $transition-duration1 ease-in,
                padding $transition-duration1 ease-in,
                transform $transition-duration1 ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a:hover, a:focus, button:hover, button:focus {
    color: #ffffff;
    background: $background-color1;
    box-shadow: 0px 4px 3px 0px $background-color4;
    z-index: 100;
}

a:active, a:hover:active, button:active, button:hover:active{
    transform: scale(0.99) translate(0, 0);
    background-color: transparent;
    border-bottom: 0 solid $background-color3;
    box-shadow:none;
    margin-bottom: 0;
    margin-top:0;
    margin: 0;
}

.gridView ul{
    flex-direction: row !important;
    flex-wrap: wrap !important;
    flex-grow: 1 !important;
    align-content: flex-start;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    li{
        flex: 0 0 calc(100% / 3);
    }
}

.new-note-btn{
    border-bottom: 2px solid $background-color4;
    z-index: 1;
}

.notesListOptions{
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid $background-color4;
    button{
        padding: 1.5rem 1rem;
    }
    .symbol{
        font-size: 2rem;
    }
}

button:focus {
    outline: none;
}

.selected a, .selected a:hover{
    color: $font-color-high-contrast-primary;
    background: $background-color3;
    //box-shadow: 20px 0px 0px 0px $background-color3, -20px 0px 0px 0px $background-color3,  inset 0px -16px 8px -8px $background-color4, inset 0px 16px 8px -8px $background-color4;
    box-shadow:inset 0px 10px 8px -8px $background-color4;
    transform: translate(0, 0) ;
    margin: 0;
    border-bottom: 0 solid $background-color3;
    border-top: $skeumorphic-button-height solid $background-color3;
    margin-bottom: -$skeumorphic-button-height;
    margin-top: 0;
    padding: #{list-1-button-padding-top-bottom} $list-1-button-padding-left-right calc(#{list-1-button-padding-top-bottom} - #{$skeumorphic-button-height}) $list-1-button-padding-left-right;
}

