@import "../../style-variables.scss";

:host{
    //border-top: $thin-space solid $canvas-color;
    background-color: $high-contrast-color;
    background-color: $background-color2;
    flex: 1 1 1;
    display: flex;
    padding: 0;
    color: white;
    margin-right: 1.4rem;
    z-index: -1;
    border-radius: $site-component-rounded-corners;
    box-shadow: 0px 0px 10px 6px $shadow-color;
    max-width: 50%;
    transition: margin-left .6s ease-out;
    //overflow: auto;
    
    &.hidden-state-host{
        z-index: 200;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-top: auto;
        margin-left: 0;
        -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        :hover{
            -moz-border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
            border-radius: 0 $site-component-rounded-corners $site-component-rounded-corners 0;
        }
        * button{
            padding: 1rem;
        }
    }
}

h2{
    text-align: center;
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
    width: 100%;
    
}

ul{
    margin-left: 0rem;
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow-y: overlay;
    direction: ltr;
}

:host > div{
    display: flex;
    flex-direction: column;
}

li{ 
    text-align: left;
    direction: ltr;
}

a, button {
    width: 100%;
    display: block;
    border: none;
    padding: 1.4rem 3.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: $font-color-medium-contrast;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    :hover{
        color: white;
    }
}

a:hover, a:focus, button:hover {
    color: #ffffff;
    background: #0069ed;
    /*
    background: #222222;
    background: -moz-linear-gradient(top, $background-color3 -80%, $background-color2 130%);
    background: -webkit-linear-gradient(top, $background-color3 -80%,$background-color2 130%);
    background: linear-gradient(to bottom, $background-color3 -80%,$background-color2 130%);
    -webkit-box-shadow: inset 0px 6px 4px -4x $background-color4;
    -moz-box-shadow: inset 0px 6px 4px -4px $background-color4;
    box-shadow: inset 0px 6px 4px -4px $background-color4;
    */
    background: $background-color1;
    //background: -webkit-radial-gradient(center top, ellipse cover, $background-color4 0%,$text-field-bg-color 66%); /* Chrome10-25,Safari5.1-6 */
    //background: radial-gradient(ellipse at center top, $background-color4 -15%,$text-field-bg-color 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gridView ul{
    flex-direction: row !important;
    flex-wrap: wrap !important;
    flex-grow: 1 !important;
    align-content: flex-start;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    li{
        flex: 0 0 calc(100% / 3);
    }
}

.new-note-btn{
    border-bottom: 2px solid $background-color4;
}

.notesListOptions{
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid $background-color4;
    button{
        padding: 1.5rem 1rem;
    }
    .symbol{
        font-size: 2rem;
    }
}

button:focus {
    outline: none;
}

a:active, b:active {
    transform: scale(0.99);
}

.selected a{
    color: $font-color-high-contrast-primary;
    background: $background-color3;
    //box-shadow: 20px 0px 0px 0px $background-color3, -20px 0px 0px 0px $background-color3,  inset 0px -16px 8px -8px $background-color4, inset 0px 16px 8px -8px $background-color4;
    box-shadow:inset 0px 10px 8px -8px $background-color4;
}

:host *::-webkit-scrollbar {
    width: .9rem;
}

/* Track */
:host *::-webkit-scrollbar-track {
    border-left: .2rem solid $background-color4;
    //-webkit-box-shadow: inset 0 0 .2rem $background-color4; 
    //-webkit-border-radius: .4rem;
    //border-radius: .4rem;
    background-color: $background-color3;
    
}

/*
:host *::-webkit-scrollbar-button{
    width: 100rem;
    display: block;
    background-color: red;
    margin-left: -10px;
}
*/

/* Handle */
:host *::-webkit-scrollbar-thumb {
    border-left: .2rem solid $background-color4;
    //-webkit-border-radius: .4rem;
    //border-radius: .4rem;
    background: $background-color2;
    
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:host * ul:hover::-webkit-scrollbar-track {
    border-left: .2rem solid $background-color4;
}

:host * ul:hover::-webkit-scrollbar-thumb {
    border-left: .2rem solid $background-color4;
    background-color: $font-color-medium-contrast;
    background: $background-color1;
}


