@import "../../style-variables.scss";

:host{
    //border-top: $thin-space solid $canvas-color;
    background-color: $high-contrast-color;
    background-color: $background-color2;
    flex: 1 1 1;
    padding: 0;
    color: white;
    z-index: -1;
    //margin: $site-component-margin;
    margin: 1.4rem;
    border-radius: $site-component-rounded-corners;
    box-shadow: 0px 0px 10px 6px $shadow-color;

}

h2{
    text-align: center;
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
    width: 100%;
    width: 100%;
}

ul{
    margin-left: 0rem;
}

li{
    text-align: left;
}

a {
    width: 100%;
    display: block;
    border: none;
    padding: 1.4rem 3.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: $font-color-medium-contrast;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    :hover{
        color: white;
    }
}

a:hover, a:focus {
    color: #ffffff;
    background: #0069ed;
}

a:active {
    transform: scale(0.99);
}

.selected a{
    color: $font-color-high-contrast-primary;
    background: $background-color3;
    //box-shadow: 20px 0px 0px 0px $background-color3, -20px 0px 0px 0px $background-color3,  inset 0px -16px 8px -8px $background-color4, inset 0px 16px 8px -8px $background-color4;
    box-shadow:inset 0px 10px 8px -8px $background-color4;

}