/* You can add global styles to this file, and also import other style files */

html{
    /*typical default brower size of 16  reduced to 10 as our rem value
    */
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    font-size: 1.6rem;
}

/*
body :first-child{
    display: flex;
    flex-direction: column;
}
*/

html, body{
    height: 100vh;
}

h1{
    font-size: 2.2rem;
}

app-root {
    height: 100%;
}

