/* colors */

$base-color: white;
$background-color1: #3c3c3c;
$background-color1: rgb(77, 77, 77);
$background-color2: #262626;
$background-color2: #292929;
$background-color2: #2e2e2e;
$background-color2: rgb(49, 49, 49);
$background-color3: #212121;
$background-color3: rgb(34, 34, 34);
$background-color4: #1b1b1b;
$background-color4: #171717;
$background-color4: rgb(25, 25, 25);

$overlay-color: rgba(15, 15, 15, .8);

$high-contrast-color: rgb(60,60,60);
$high-contrast-color: #474747;
$medium-contrast-color: rgb(100, 100, 100);

$canvas-color: rgb(250, 244, 237);
$canvas-color: #fbf7f2;
$accent-color-1: #0069ed;



$font-color-high-contrast-primary: rgb(238, 238, 238);
$font-color-high-contrast-secondary:$background-color4;
$font-color-medium-contrast: rgb(165, 165, 165);
$font-color-medium-contrast-2: rgb(135, 135, 135);
$font-color-max-dark: #080808;

    //button color

$button-outline-col: #3f3f3f;
$button-outline-col: #444444;

    // various
$header-bg-color: $background-color2;
$notes-nav-bg-color: $background-color2;
$text-field-bg-color: transparent; 
$text-field-font-color: $font-color-high-contrast-primary;

/* typo */
$font-prominent: 'JetBrains Mono', monospace;

/* spaces */

$thin-space: .1rem;
$medium-space: .3rem;

$btn-spacing: .6rem;

$standard-element-spacing: 1.4rem;
$standard-element-spacing-half: calc(#{$standard-element-spacing} * 0.5);

$site-component-margin: $medium-space;

$site-component-rounded-corners: .6rem;

$text-elem-padding: .8rem;

$text-field-padding: 3.9rem;

$list-1-button-height:6rem;
$list-1-button-padding-top-bottom: 1.4rem;
$list-1-button-padding-left-right: 3.2rem;
$skeumorphic-button-height: .5rem;


/* timing */

$transition-duration1: .13s;

 /* shadows */
$shadow-color: #191919;
$shadow-color: #1b1b1b;


$container-shadow-around: 0px 0px 10px 6px $shadow-color;
$container-shadow-drop: -5px 6px 10px 0px $shadow-color, 5px 6px 10px 0px $shadow-color;
$container-shadow-drop: 0px 6px 10px 0px $shadow-color;
$container-shadow-drop: -2px 10px 9px 0px $shadow-color, 2px 10px 9px 0px $shadow-color;