@import "./style-variables.scss";

html{
    /*typical default brower size of 16  reduced to 10 as our rem value
    */
    font-size: 62.5%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    //letter-spacing: .02rem;
    font-weight: 300;
    list-style: none;
    background-color: $background-color3;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
}

html, body{
    height: 100vh;
}

app-root {
    height: 100%;
}

